# uwsgi
uwsgi

# flask
flask

# teleflask
-e git://github.com/luckydonald/teleflask.git@0da3a3aa4c1b2814194205d2a134fe169432a060#egg=teleflask_0da3a3

# pytgbot
-e git://github.com/luckydonald/pytgbot.git@5f433ca9e467a3cd5979b661373755f8a2ab698a#egg=pytgbot_5f433c  # 2019-08-16 after 4.4, Sticker.is_animated

# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@10e9b79e22f2fc805db80f16c382fb05d317ba88#egg=luckydonald-utils

# raven[flask]
raven[flask]

