# uwsgi
uwsgi

# flask
flask

# teleflask
-e git://github.com/luckydonald/teleflask.git@c340ab321a653fbeba1defe3e2cf87e3ba18432a#egg=teleflask_c340ab

# pytgbot
pytgbot==4.1.1

# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@10e9b79e22f2fc805db80f16c382fb05d317ba88#egg=luckydonald-utils

# raven[flask]
raven[flask]

